div{
    height: 508px;
    width: 400px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
    margin-left: 450px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10%;
    


    
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(251,124,13,1) 0%, rgba(144,235,115,1) 39%, rgba(0,212,255,1) 100%);
}

img{
    height: 87px;
    margin-left: 105px;
    margin-right: 50px;
    margin-top: 14px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    line-height: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
h3{
    text-align: center;
    color: rgb(116, 116, 116);
}
h5{
    text-align: center;

    text-transform: lowercase;
    font-family: cursive;
    text-size-adjust: large;
}
h4{
    text-align: center;
}
 button{
    margin-left: 155px;
    margin-right: 0px;
    margin-top: 4px;
    margin-bottom: 2px;
    size: 500px;
    border-radius: 200px;
    border-style: double;
    border-color: red;
    color: red;
    
 }

 .lor{
    text-transform: lowercase;
  font-size:smaller;
 }

 span.p{

    border-style: solid;
    border-width: 9px;
    border-color: rgb(250, 3, 3);
    background-color: white;
    margin-left: 150px;
    margin-right: -73px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 50%;
    text-align: center;
 }

 span.c{
    border-style: solid;
    border-width: 9px;
    border-color: rgb(134, 131, 131);
    background-color: white;
    margin-left: 96px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 50%;
    text-align: center;

 }

 span.k{

    border-style: solid;
    border-width: 9px;
    border-color: rgb(97, 236, 11);
    background-color: white;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 50%;
    text-align: center;

 }